.add {
  display: flex;
  flex-direction: column;
}

.body {
  position: relative;
  margin-top: 50px;
}
.shadow {
  margin: 50px;
  padding: 20px;
  box-shadow: 2px 2px 10px #06f5cd;
}
.form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.input {
  border: none;
  outline-width: 0;
  border-radius: 10px;
}
input {
  background-color: white;
  color: black;
  margin-left: 20px;
}

.inp {
  padding: 12px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 10px;
}

.button {
  cursor: pointer;
  width: 200px;
  padding: 20px;
  background-color: #2accc996;
  border: none;
  color: white;
  font-weight: 800;
  border-radius: 20px;
}
.btn {
  justify-content: center;
}

.button:hover {
  background-color: #06f5cdc2;
}
