.box {
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-bottom: 0px;
}
.bar {
  flex: 1;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid white;
  text-align: center;
  padding: 20px;
  background-color: lightgreen;
}
.bar:hover {
  background-color: green;
  cursor: pointer;
}
